dist: trusty
language: node_js
cache: yarn
addons:
  apt:
    packages:
      # This is required to run new chrome on old trusty
      - libnss3

env:
  - TEST_SUITE=unit
  - TEST_SUITE=integration

node_js:
  - "10"
  - "8"

before_script:
  - |
    if [[ "$TEST_SUITE" == "unit"]]; then
      yarn tsc
    else
      yarn bundle
      # Enable user namespace cloning
      sysctl kernel.unprivileged_userns_clone=1
      # Launch XVFB
      export DISPLAY=:99.0
      sh -e /etc/init.d/xvfb start
    fi

script:
  - |
    if [[ "$TEST_SUITE" == "unit"]]; then
      yarn test --ci --no-cache
    else
      yarn integration
    fi
