version: 2
jobs:
  build:
    docker:
      - image: cypress/base:11
        environment:
          ## this enables colors in the output
          TERM: xterm
    parallelism: 4
    steps:
      - checkout

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Build Check
          command: yarn build

      - run:
          name: Create Bundles
          command: yarn bundle

      - run:
          name: Integration Test
          command: yarn test:ci
