/* const applyFontFamily = (fontFamily: string) => `font-family: ${fontFamily};`; */
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --editorPadding: 1rem;
  --spacingTop: 2rem;
  --spacingTopSmall: 0.5rem;
  --spacingBottom: 1rem;
}

#letterpad-editor-container {
  font-style: normal;
  font-family: "Lora", sans-serif;
  font-size: larger;

  text-rendering: optimizeLegibility;
  line-height: 2;
}
