@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap");
:root body {
  --bg-codeblock: #ededed;
  --bg-secondary: #eee;
  --bg-primary: #fff;
  --border: #eee;
  --bg-accent: #181e36;
  --color-accent: #fff;
  --color-primary: #333;
  --color-secondary: #000;
  --color-link: #3f82b7;
  --bg-highlight: #9de6ed;

  --bg-toolbar: #333;
  --color-toolbar: #ddd;
  --border-toolbar: #111;
}

:root body.dark {
  --bg-codeblock: #2a2a38;
  --bg-secondary: #272727;
  --bg-primary: #1d1d28;
  --border: #2e2e31;
  --bg-highlight: #9de6ed;
  --bg-accent: #2db76d;
  --color-accent: #333;
  --color-primary: #bababa;
  --color-secondary: #bababa;
  --color-link: #3f82b7;
  --bg-toolbar: #333;
  --color-toolbar: #ddd;
  --border-toolbar: #111;
}

.editor {
  box-sizing: border-box;
  cursor: text;
  margin-left: 100px;
  margin: auto;
  font-family: "Hahmlet", serif;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 100vw;
}
@media (max-width: 900px) {
  .editor {
    font-size: 1rem;
    padding: 10px;
  }
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.wrapper {
  position: absolute;
}

img {
  width: 100%;
}

pre {
  background: var(--bg-codeblock);
  display: block;
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
}

pre > pre {
  padding: 0px;
  margin: 1rem 1rem 0rem 1rem;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent;
}

figcaption,
figcaption * {
  text-align: center !important;
  font-style: italic;
}

figure img {
  max-height: 500px;
  height: 100%;
  background: var(--bg-secondary);
}

blockquote {
  margin: 20px 0px;
  padding: 0.4rem 1rem;
  border-left: 3px solid var(--bg-accent);
  line-height: 1.6;
  position: relative;
  /* background: var(--bg-secondary); */
  /* color: var(--color-secondary); */
}

figure {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.editor h1:first-child {
  margin-top: 0px;
}

hr:after {
  display: block;
  text-align: center;
  content: "...";
  color: var(--color-primary);
  font-size: 2rem;
  height: 2rem;
  line-height: 1rem;
  clear: both;
  border: none;
}

hr {
  border: none;
  margin: 2rem;
  background: transparent;
}

iframe {
  margin-bottom: 2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}
